body {
    background-color: #247291;
}
.hithere {
    background-color: #f8da5b;
    color: #247291;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

}

.img1 { 
float: left;
width: 200px;
height: 300px;

}

.img2 { 
    display: block;
    float: left;
    width: 200px;
    height: 300px;
    
}

.annyeong {
    font-size: 30px;
    text-align: left;
    color: beige;
    font-family: fantasy;
    position: relative;
    left: 39px;
}